*{
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    height: 40px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}
.navbar a:hover {
    background-color: black;
}
.navbar .logo {
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.img1{
    /* width: 100%; */
    height: 400px;
    background-color: ;
    border: 2px black solid; 
    /* padding-bottom: 50px; */
    margin-bottom: 40px;
}
.jpg2{
    width: 100%;
    height: 400px; 
}












.slider {
    position: relative;
    width: 100%;
    height: 300px;   
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 300px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.navigation button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
}

.navigation button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}